.flex-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.flex-wrapper .input {
    margin: 10px 5px;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.result {
    color: blue;
}
.result.error {
    color: red;
    font-weight: bold;
}