body {
  font-family: 'Spartan', sans-serif;
}
.flex-wrapper {
  display: flex;
  flex-direction: column;
}
.flex-wrapper .input {
  margin: 10px 5px;
  width: 330px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input input {
  width: 250px;
  border: 1px solid #4caf50;
  padding: 0.35em;
  border-radius: 0.25em;
  font-size: 14px;
  float: right;
}

.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* float: right; */
}
.result {
  display: none;
  width: 375px;
  text-align: center;
  border-radius: 0.25em;
  padding: 1em;
  background-color: lightskyblue;
  color: blue;
  font-weight: bold;
  transition: display 0.3s ease-in-out;
}
.result.error {
  background-color: lightpink;
  color: red;
}
